extends ../layout.pug

block header
	div(class="jumbotron necc-jumbo portal-jumbo p-3 p-md-5 text-white")
		div(class="col-md-6 px-0")
			h1(class="display-3") Member Portal
			h3(class="" style="text-shadow: none;") Welcome 
				span= name
				span  
				span(class="icon-paw") 

block content
	div(class="row")
		h2(class="display-4 mb-3 font-weight-bold") Announcements
	div(class="row ml-4")
		h3 Clemson @ Boston College Tickets (11/10/2018)
		p We have partnered with the University, Clemson Athletics, and IPTAY to reserve a block of seats at the Clemson vs. Boston College game on 11/10. Tickets are available exclusively to NECC members on a first-come, first served basis. Purchase your tickets below!
	div(class="row ml-4")
		a(class="btn btn-clemson text-white" href="https://groupmatics.events/event/Newengland4") Purchase Tickets!
	
	div(class="row mt-5")
		p Questions about our events? 
			a(href="#" onclick="getEmail();") Email us!

	hr(class="featurette-divider")


block scripts
	script(src="/scripts/clientutils.js" type="text/javascript")
