extends ../layout.pug

block header
	div(class="jumbotron bg-danger necc-jumbo p-3 p-md-5 text-white")
		div(class="col-md-6 px-0")
			h1(class="display-4 text-center") Error!

block content
	div(class="row")
		h3= message
	div(class="row")
		p(class="lead") There was a problem with loading requested information. If you believe your account was charged, but are still seeing this page, please 
			span
				a(class="font-weight-bold" href="mailto:info@newenglandclemsonclub.com") email the club
			span  with as much detail as possible regarding your order.

	hr(class="featurette-divider")
block scripts