footer(class="container")
	p(class="float-right")
		a(href="#") Back to top
	p © 2017-2018 New England Clemson Alumni Assoc.
	div(class="row footer-social")
		div(class="col")
			a(class="ml-auto mr-auto" href="https://twitter.com/NEClemsonClub" target="_blank" rel="noopener" aria-label="Twitter")
				span(class="icon-twitter")
		div(class="col")
			a(href="https://www.facebook.com/NewEnglandClemsonClub" target="_blank" rel="noopener" aria-label="Facebook")
				span(class="icon-facebook")
		div(class="col")
			a(href="https://www.instagram.com/neclemsonclub" target="_blank" rel="noopener" aria-label="Twitter")
				span(class="icon-instagram")
		div(class="col")
			a(href="https://www.linkedin.com/groups/4803433" target="_blank" rel="noopener" aria-label="LinkedIn")
				span(class="icon-linkedin")