extends layout.pug

block header
	div(class="jumbotron necc-jumbo portal-jumbo p-3 p-md-5 text-white")
		div(class="col-md-6 px-0")
			h1(class="display-3") Let’s turn Boston 
				span(class="text-clemson") orange!
block content
	div(class="row")
		h3(class="display-4") Clemson @ BC Event Details 
			span(class="badge badge-secondary") 11/10/2018
		p(class="lead") We're glad to have you in Boston for the upcoming Clemson @ Boston College game! If you are looking for Clemson events, things to do, or places to stay hopefully our lists below will help you have a great weekend! Go tigers!
		p(class="lead")
			span(class="font-weight-bold") Reminder: 
			| Our ticket block is now open to both members and non-members. To purchase tickets 
			span
				a(class="font-weight-bold" href="https://urldefense.proofpoint.com/v2/url?u=https-3A__t.e2ma.net_click_wj2aw_gn63eeb_gzrgkh&d=DwMFaQ&c=UE1eNsedaKncO0Yl_u8bfw&r=N2w5UC9RVylWKd5lAz6AhIVuMYObVKCYYjx9a3de_jg&m=Z_uYl2-KOFsG_RSlETVzSWJJQIwU8LnuSd75UUIrtS4&s=XgE4w5kMLm0to0cfJLmAFFyMFciyoQocKwFX2SiGAUo&e=") click here. 
				| Purchasing tickets on the Club seat block gives you the opportunity to connect with the New England alumni network and show your Tiger pride! 


	div(class="row")
		h3 Clemson Events:
		ul
			li 
				span(class="font-weight-bold") CU in the City – Boston – Thursday 11/8
				ul
					li Location: 
						a(href="https://www.blackroseboston.com/") The Black Rose
					li Time: 7-9 PM
				p Clemson University is traveling to Boston on Thursday, November 8 for our next ‘CU in the City’ event, at The Black Rose. Join University representatives and the New England Clemson Club to hear how alumni like you can make a difference. Join your Clemson Family at The Black Rose for appetizers (on us!!), drinks, and to enjoy Clemson fellowship while hearing updates and learning how you can stay engaged with the University and Clemson athletics.

				p RSVP 
					a(href="https://www.eventbrite.com/e/cu-in-the-city-boston-tickets-51310211223") here!

			li 
				span(class="font-weight-bold") Clemson Alumni Association & New England Clemson Club - Welcome to Boston – Friday 11/9
				ul
					li Location: 
						a(href="https://www.centralwharfco.com/") Central Wharf
					li Time: 7-9 PM
				p The Clemson Alumni Association and the New England Clemson Club would like to welcome the Clemson family to Boston in style. Join us at Central Wharf for this FREE event! Everyone is welcome, but space will be limited.

				p  
					a(href="https://www.facebook.com/events/307504046742743/") Facebook event page

			li 
				span(class="font-weight-bold") Clemson Family Tailgate - Saturday 11/10
				ul
					li Location: Lyons Hall (BC Campus)
					li Time: 3 hours prior to kickoff (kickoff is 12pm, event will last 2 hours)
				p All Clemson fans are welcome to attend our Clemson Family Tailgate. This is our first-ever game day tailgate at Boston College and we have a great event planned for you all! Please note: this is a ticketed event.

				p Cost is $100/ticket: includes a New England Clam Bake and open bar consisting of beer, wine and liquor. The menu includes New England clam chowder, tossed salad, littlenecks with broth and drawn butter, steamed lobster, grilled spiced rubbed chicken breasts, corn on the cob and coleslaw, fresh rolls, butter and Boston cream cupcakes. You can purchase tickets 
					a(href="http://clemsontracking.fan-one.com/r/?id=h2749cc0,2e73fe4,2e85f94") here!
	div(class="row")
		h3 Where to Stay (all accessible via the MBTA):
	div(class="row")
		ul
			li
				span(class="font-weight-bold") Holiday Inn, Brookline 
				span(class="badge badge-secondary") Near BC campus
				ul
					li 1200 Beacon Street, Brookline, MA
					li 617-277-1200 / 800-972-3381

			li
				span(class="font-weight-bold") Courtyard by Marriott, Brookline 
				span(class="badge badge-secondary") Near BC campus
				ul
					li 40 Webster Street, Brookline, MA
					li 617-734-1393 / 800-321-2211

			li
				span(class="font-weight-bold") Eliot Hotel
				ul
					li 370 Commonwealth Avenue, Boston, MA
					li 617-267-1607

			li
				span(class="font-weight-bold") Hampton Inn and Suites
				ul
					li 811 Massachusetts Avenue, Boston, MA
					li 617-445-6400

			li
				span(class="font-weight-bold") Sheraton Boston
				ul
					li 39 Dalton Street, Boston, MA
					li 617-236-2000

			li
				span(class="font-weight-bold") The Colonnade Hotel, Boston
				ul
					li 120 Huntington Avenue, Boston, MA
					li 617-424-7000 / 800-962-3030

			li
				span(class="font-weight-bold") The Westin Copley Plaza
				ul
					li 10 Huntington Avenue, Boston, MA
					li 617-262-9600
	div(class="row")
		h3 Things to do:
	div(class="row")
		ul
			li
				span(class="font-weight-bold") 
					a(href="http://www.bostonducktours.com/") Take a Duck Tour
				p Experience Boston by land and by sea, all in one ride. The best part of the tour? You may even have a chance to drive the "Duck."

			li
				span(class="font-weight-bold") 
					a(href="https://www.mlb.com/redsox/ballpark") Tour Fenway Park
				p Red Sox fan or not, this is a Boston must-see.

			li
				span(class="font-weight-bold") 
					a(href="https://www.samueladams.com/") Tour Sam Adams, Harpoon Brewery, or one of our many other craft breweries
				p Quench your thirst at one of Boston’s local breweries.

			li
				span(class="font-weight-bold") 
					a(href="https://www.neaq.org/") See the penguins at the New England Aquarium
				p The New England Aquarium houses more than 80 birds of all different species, including the smallest penguins in the world. College students get a discount on admission.

			li
				span(class="font-weight-bold") 
					a(href="http://topofthehub.net/") Get a drink at the Top of the Hub
				p See Boston in a whole new way when you take in the view from 52 stories above the ground

			li
				span(class="font-weight-bold") 
					a(href="http://www.mikespastry.com/") Get a cannoli at Mike's Pastry
				p There are plenty of treats to choose from but the cannolis are a local favorite. The line is worth the wait.

			li
				span(class="font-weight-bold") 
					a(href="https://www.tripadvisor.com/Attractions-g60745-Activities-c49-Boston_Massachusetts.html") Visit a museum
				p Choose between the Museum of Fine Arts, the Museum of Science, or the Isabella Stewart Gardner Museum — you can’t go wrong!

			li
				span(class="font-weight-bold") 
					a(href="https://www.bostonharborcruises.com/whale-watch/") Go on a whale watch
				p You won't feel like you're still in Boston when you're aboard this high-speed catamaran. And the best part is, whale sightings are guaranteed.

	hr(class="featurette-divider")
block scripts