extends layout.pug

block header


block content
	h1(class="my-4 text-center text-lg-left") Thumbnail Gallery
	div(class="row text-center text-lg-left")
		// Thumbnails start here
		div(class="col-lg-3 col-md-4 col-xs-6")
			a(class="d-block mb-4 h-100" href="#")
				img(class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="400x300")

		div(class="col-lg-3 col-md-4 col-xs-6")
			a(class="d-block mb-4 h-100" href="#")
				img(class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="400x300")

		div(class="col-lg-3 col-md-4 col-xs-6")
			a(class="d-block mb-4 h-100" href="#")
				img(class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="400x300")

		div(class="col-lg-3 col-md-4 col-xs-6")
			a(class="d-block mb-4 h-100" href="#")
				img(class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="400x300")