extends layout.pug


block header
	include includes/carousel.pug

block content
	// Welcome Row
	div(class="row featurette")
		div(class="col-md-7")
			h2(class="featurette-heading") Welcome to the New England Clemson Club! 
			p(class="lead") The New England Clemson Club is a non-profit organization dedicated to enhancing the lifelong Clemson experience by serving, involving, informing, and engaging our alumni, current and future students, and friends of Clemson University.
		div(class="col-md-5")
			div(id="twitter-feed")
				a(class="twitter-timeline" data-lang="en" data-width="366" data-tweet-limit="2" data-dnt="true" data-theme="light" data-link-color="#FAB81E" href="https://twitter.com/NEClemsonClub") Tweets by NEClemsonClub

	hr(class="featurette-divider")

	// ============================================================
	// 3-Column Spotlights
	div(class="row")
		div(class="col-lg-4")
			//img(class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140")
			img(class="rounded-circle" src="img/tiger.png" alt="Events" width="200" height="200")
			h2 Events
			p We hold events throughout the year including game watch parties, networking events, and fundraising campaigns.
			p
				a(class="btn btn-carousel" href="#" role="button") View events &raquo;

		div(class="col-lg-4")
			img(class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200")
			h2 Acaedmics
			p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
			p
				a(class="btn btn-carousel" href="#" role="button") View details &raquo;

		div(class="col-lg-4")
			//img(class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140")
			img(class="rounded-circle" src="img/necc_logo.png" alt="Membership" width="200" height="200")
			h2 Membership
			p Alumni members enjoy benefits such as event tickets, access, blah blah.
			p
				a(class="btn btn-carousel" href="#" role="button") Learn more &raquo;

	hr(class="featurette-divider")

block scripts
	// Twitter
	script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
