extends layout.pug


block header
	include includes/carousel.pug

block content
	// TODO: add donate button
	// Welcome Row
	div(class="row featurette")
		div(class="col-md-7")
			h2(class="featurette-heading") Welcome to the New England Clemson Club! 
			p(class="lead") The New England Clemson Club is a non-profit organization dedicated to enhancing the lifelong Clemson experience by serving, involving, informing, and engaging our alumni, current and future students, and friends of Clemson University.
		div(class="col-md-5")
			div(id="twitter-feed")
				a(class="twitter-timeline" data-lang="en" data-width="366" data-tweet-limit="2" data-dnt="true" data-theme="light" data-link-color="#FAB81E" href="https://twitter.com/NEClemsonClub") Tweets by NEClemsonClub

	hr(class="featurette-divider")

	// ============================================================
	// 3-Column Spotlights
	div(class="row")
		
		div(class="col-lg-4")
			img(class="rounded-circle" src="img/white.png" style="background-color: #F66733;" alt="Events" width="200" height="200")
			h2 Donate
			p If you enjoy what we do, consider donating! All donations go toward funding our yearly events and game-watch parties.
			p
				a(class="btn btn-clemson" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XAUPFKF4T965J" role="button") Donate &raquo;

		div(class="col-lg-4")
			img(class="rounded-circle" src="img/cwharf.jpg" alt="Membership" width="200" height="200")
			h2 Events
			p We hold events throughout the year including game watch parties, networking events, and fundraising campaigns.
			p
				a(class="btn btn-clemson" href="/events" role="button") View events &raquo;

		div(class="col-lg-4")
			img(class="rounded-circle" src="img/necc_logo.png" alt="Membership" width="200" height="200")
			h2 Facebook
			p Upcoming events and information about the club are regularly posted to our Facebook page. Check it out!
			p
				a(class="btn btn-clemson" href="https://www.facebook.com/NewEnglandClemsonClub" role="button") Visit Facebook &raquo;

	hr(class="featurette-divider")
block scripts
	// Twitter
	script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
