extends layout.pug

block header
	div(class="jumbotron necc-jumbo service-jumbo p-3 p-md-5 text-white")
		div(class="col-md-6 px-0")
			h1(class="display-3") Service
			p(class="lead my-3") We hold fundraisers and food drives as well as other non-profit events throughout the calendar year.


block content
	div(class="row featurette")
		div(class="col-md-7")
			h2(class="featurette-heading") Greater Boston Food Bank 
			p(class="lead") At most game-watch parties we sell clemson stickers for $1 as well as other merchandise, with all proceeds going toward the 
				a(href="https://www.gbfb.org/") Greater Boston Food Bank.
			p(class="lead") September is Hunger Action Month, and all proceeds will be matched dollar for dollar. Next time you are at a game-watch party, ask us about our partnership with the Greater Boston Food Bank!
		div(class="col-md-5")
			img(class="featurette-image img-fluid mx-auto" data-src="/img/gbfb.png" alt="Greater Boston Food Bank" style="width: 500px; height: 500px;" src="/img/gbfb.png")


	hr(class="featurette-divider")
block scripts

