extends layout.pug

block header
	div(class="jumbotron necc-jumbo service-jumbo p-3 p-md-5 text-white")
		div(class="col-md-6 px-0")
			h1(class="display-3") Service
			p(class="lead my-3") We hold donation and food drives as well as other non-profit events throughout the calendar year. See below for details.


block content
	div(class="row")
		h2(class="mb-3") Greater Boston Food Bank


	hr(class="featurette-divider")
block scripts

