
/*

  Clemson Styles:
    orange: #F66733;

*/



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  /* font-family: 'Oswald', "Helvetica Neue", "Helvetica", Helvetica, sans-serif; */
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

li.nav-item {
  font-size: 1.1rem;
}

div.footer-social div a {
  color: #F66733;
}

div.footer-social div a:hover {
  text-decoration: none;
  color: #CC552A;
}

@media (min-width: 768px) {
  div.footer-social {
    display: none;
  }
}

@media (max-width: 768px) {
  ul.navbar-social {
    display: none;
  }
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* Carousel button coloring */

.btn-carousel {
  background-color: #F66733;
  color: #FFF;
}

  .btn-carousel:focus {
    box-shadow: 0 0 0 0.2rem rgba(246,103,51,.5);
  }

  .btn-carousel:hover {
    background-color: #CC552A;
    color: #FFF;
    border-color: #F66733;
  }

  .btn-carousel:active {

  }


/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

div.event-jumbo {
  background-image: url('../img/stadium.jpg');
  background-position: 0% 75%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #F66733;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* Calendar Events
========================= */

/* Main events. calendar/event page */
.main-event {
  display: block;
  
  margin-bottom: 1.5rem;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
}
.main-event p {
  margin-bottom: 0;
  line-height: 1.3;
}
.main-event aside {
  margin-left: 4.5em;
}
.main-event .main-event-title {
  margin: 0 0 .1875em;
  line-height: 1;
  font-weight: bold;
}
.main-event .main-event-time:before, .main-event .main-event-location:before {
  margin-right: .3125em;
  color: #666;
  font-family: "clemson-icons";
}
.main-event .main-event-time:before {
  content: "\e002";
}
.main-event .main-event-location:before {
  content: "\e003";
}
.main-event .main-event-location a {
  color: #666;
}

.main-event .main-event-desc {
  margin-top:21px;
}

.main-event-date {
  border: 1px solid #d7d7d7;
  text-align: center;
  float: left;
  padding: .4375em .75em;
  width: 3.9em;
  height: 3.9em;
}
.main-event-date .month, .main-event-date .day {
  display: block;
  margin-top: -0.1875rem;
}
.main-event-date .month {
  font-size: 1.125em;
  font-weight: bold;
}
.main-event-date .day {
  font-size: 1.625em;
  color: #522D80;
  line-height: 1;
}

#brunch_tix {
  display: inline;
}

#event_banner {

}